<h2 class="mt-4">Summary</h2>

<ul class="d-flex justify-content-around text-center  ">
    <li class="card p-4" style="width: 25%">
        <h3><%= received_views(@current_user) %></h3>
        <p>Total views</p>
    </li>
    <li class="card p-4" style="width: 25%">
        <h3><%= received_likes(@current_user) %></h3>
        <p>Total likes</p>
    </li>
    <li class="card p-4" style="width: 25%">
        <h3><%= received_comments(@current_user) %></h3>
        <p>Total comments</p>
    </li>
</ul>
