<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to satap.com, <%= @user.login %></h1>
    <p>
      You have successfully signed up to satap.com,
      your login is: <%= @user.login %>.<br>
    </p>
    <p>
      To activate your profile follow the link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
