
<% if @activator.nil? %>
    <div class="my-5 mx-auto">
        <h1>There is (already) nothing here. I'm sory.</h1>
    </div>
<% else %>
    <div class="my-5 mx-auto">
        <h1>You successfully activated your account!</h1>
    </div>
<% end %>
